@import "reset";

body {
    min-height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FFF;
    background-image: url("./img/model-1.jpg");
    background-size: cover;
    background-position: center;
    display: flex;

    .container {
        flex: 1;
        display: flex;
        flex-direction: column;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.4));
    }
}

header {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 2.5rem;

    ul {
        display: flex;
        gap: 2rem;

        li {
            list-style-type: none;
            font-size: 1.5rem;
            
            a {
                transition: all ease-in-out 500ms;
                cursor: pointer;
                text-decoration: none;

                &:visited {
                    color: #FFF;
                }
                &:hover {
                    color: blue; 
                }
            } 
        }
    }
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    h1 {
        font-size: 5rem;
        font-weight: lighter;
    }
    .red {
        font-weight: 700;
        color: red;
    }
    h2 {
        font-weight: lighter;
        letter-spacing: 1px;
    }
    hr {
        width: 100%;
        margin: 1rem;
    }
}

footer {
    padding: 1.5rem 2rem;
    display: flex;
    align-items: center;

    .fa-brands {
        font-size: 2rem;
        margin-right: 1.5rem;
        transition: all ease-in-out 500ms;

        &:hover {
            color: #FF652F;
            cursor: pointer;
        }
    }
    .copyright {
        margin-left: auto;
        font-size: 1.1rem;
    }
}